body {
  font-family: 'Montserrat', sans-serif;
}

/* UTILITY */
.mb-10 {
  margin-bottom: 10px;
}
/* UTILITY */

.navbar-default {
  background-color: #2C3E50;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: none;
  border: none;
  border-radius: 0;
  padding: 16px 0;
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 20px;
}

.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #1abc9c;
}

.navbar-default .navbar-collapse {
  border-color: transparent;
}

#jumbtron {
  margin-top: 82px;
  text-align: center;
  color: #fff;
  background-color: #1ABC9C;
  padding: 96px 0;
}

#jumbtron img {
  width: 240px;
}

#jumbtron h1 {
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 700;
}

#jumbtron .divider hr {
  display: inline-block;
  width: 112px;
  border-width: 4px;
  border-radius: 16px;
  vertical-align: middle;
}

#jumbtron .divider i {
  font-size: 32px;
  vertical-align: middle;
  margin: 0 5px;
}

#jumbtron span {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

@media all and (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
}

 .navbar-default {
   padding-top: 24px;
   padding-bottom: 24px;
 }

  .navbar-default .navbar-brand {
    font-size: 28px;
  }

  .navbar-default .navbar-nav > li > a {
    font-size: 18px;
  }

  #jumbtron {
    margin-top: 98px;
  }

  #jumbtron h1 {
    font-size: 64px;
  }

  #jumbtron span {
    font-size: 24px;
  }
}

@media all and (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1140px;
  }

}
