body {
  font-family: 'Montserrat', sans-serif;
}

/* UTILITY */
.mb-48 {
  margin-bottom: 48px;
}

.mb-10 {
  margin-bottom: 10px;
}
/* UTILITY */

.navbar-default {
  background-color: #2C3E50;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: none;
  border: none;
  border-radius: 0;
  padding: 16px 0;
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 20px;
}

.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #1abc9c;
}

.navbar-default .navbar-collapse {
  border-color: transparent;
}

#jumbtron {
  margin-top: 82px;
  text-align: center;
  color: #fff;
  background-color: #1ABC9C;
  padding: 96px 0;
}

#jumbtron img {
  width: 240px;
  margin-bottom: 48px;
}

#jumbtron h1 {
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 700;
}

.divider {
  margin-top: 20px;
  margin-bottom: 24px;
}

.divider hr {
  display: inline-block;
  width: 112px;
  border-width: 4px;
  border-radius: 16px;
  vertical-align: middle;
}

.divider i {
  font-size: 32px;
  vertical-align: middle;
  margin: 0 5px;
}

#jumbtron span {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

#portfolio {
  color: #2c3e50;
  text-align: center;
  padding: 96px 0;
}

#portfolio h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

#portfolio .divider hr {
  border-color: #2c3e50;
}

#portfolio .content {
  max-width: 400px;
  margin: 0 auto;
  background-color: #1ABC9C;
  position: relative;
}

#portfolio .content .overlay {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(26, 188, 156, 0.9);
}

#portfolio .content .overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
}


#portfolio .content .overlay:hover {
  opacity: 1;
}

#portfolio .content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

#about {
  background-color: #1ABC9C;
  text-align: center;
  color: #fff;
  padding: 96px 0;
}

#about h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

@media all and (min-width: 768px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
}

 .navbar-default {
   padding-top: 24px;
   padding-bottom: 24px;
 }

  .navbar-default .navbar-brand {
    font-size: 28px;
  }

  .navbar-default .navbar-nav > li > a {
    font-size: 18px;
  }

  #jumbtron {
    margin-top: 98px;
  }

  #jumbtron h1 {
    font-size: 64px;
  }

  #jumbtron span {
    font-size: 24px;
  }

  #portfolio h2 {
    font-size: 48px;
  }
}

@media all and (min-width: 992px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1140px;
  }

}
