body {
  font-family: 'Montserrat', sans-serif;
}

/* UTILITY */
.mb-48 {
  margin-bottom: 48px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-24 {
  margin-top: 24px;
}

.btn {
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding: 10px 15px;
  font-size: 18px;
}

.btn-social {
  border: 2px solid #fff;
  border-radius: 100%;
  margin: 0 4px;
  color: #fff;
}

/* UTILITY */

.navbar-default {
  background-color: #2C3E50;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: none;
  border: none;
  border-radius: 0;
  padding: 16px 0;
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 20px;
}

.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #1abc9c;
}

.navbar-default .navbar-collapse {
  border-color: transparent;
}

#jumbtron {
  margin-top: 82px;
  text-align: center;
  color: #fff;
  background-color: #1ABC9C;
  padding: 96px 0;
}

#jumbtron img {
  width: 240px;
  margin-bottom: 48px;
}

#jumbtron h1 {
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 700;
}

.divider {
  margin-top: 20px;
  margin-bottom: 24px;
}

.divider hr {
  display: inline-block;
  width: 100px;
  border-width: 4px;
  border-radius: 16px;
  vertical-align: middle;
}

.divider i {
  font-size: 32px;
  vertical-align: middle;
  margin: 0 5px;
}

#jumbtron span {
  font-size: 20px;
  text-transform: uppercase;
}

#portfolio {
  color: #2c3e50;
  text-align: center;
  padding: 96px 0;
}

h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

#portfolio .divider hr {
  border-color: #2c3e50;
}

#portfolio .content {
  background-color: #1ABC9C;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

#portfolio .content .overlay {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(26, 188, 156, 0.9);
}

#portfolio .content .overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
}

#portfolio .content .overlay:hover {
  opacity: 1;
}

#portfolio .content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

#about {
  background-color: #1ABC9C;
  text-align: center;
  color: #fff;
  padding: 96px 0;
}

#about .divider hr {
  width: 70px;
}

#about p {
  font-size: 21px;
  text-align: left;
}

#about a i {
  margin-right: 5px;
}

#about a:hover {
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

#form {
  padding: 96px 0;
}

#form .divider hr {
  width: 70px;
  border-color: #2c3e50;
}

#form .my-form-control {
  height: 80px;
  padding-bottom: 8px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-size: 24px;
}

:focus {
  outline: 0;
}

::placeholder {
  color: #2c3e50;
}

#form .floating-label label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  transition: top 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

#form .floating-label:focus-within label{
  color: #1abc9c;
  top: 0;
  opacity: 1;
}

#form textarea.my-form-control {
  height: 232px;
  padding-top: 15px;
}

#form button.btn-primary {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

#form button.btn-primary:hover {
  background-color: #159a80;
  border-color: #148f77;
}

footer {
  background-color: #3A546D;
  color: #fff;
  padding-top: 96px;
}

footer h4 {
  text-transform: uppercase;
  font-size: 22px;
}

footer span {
  font-size: 20px;
}

footer span a {
  color: #1abc9c;
  text-decoration: none;
}

footer span a:hover {
  color: #117964;
  text-decoration: underline;
}

footer a.btn-social {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;

}

footer a.btn-social i {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer a.btn-social:hover {
  background-color: #fff;
}

.bg-copyright {
  background-color: #2C3E50;
}

footer .bg-copyright .content {
  padding-top: 70px;
  padding-bottom: 80px;
}

footer .bg-copyright .content span {
  font-size: 14px;
}

@media all and (min-width: 768px) {
  .container {
    max-width: 720px;
}

 .navbar-default {
   padding-top: 24px;
   padding-bottom: 24px;
 }

  .navbar-default .navbar-brand {
    font-size: 28px;
  }

  .navbar-default .navbar-nav > li > a {
    font-size: 18px;
  }

  #jumbtron {
    margin-top: 98px;
  }

  #jumbtron h1 {
    font-size: 64px;
  }

  .divider hr {
    width: 150px;
  }

  #jumbtron span {
    font-size: 24px;
    text-transform: uppercase;
  }

h2 {
    font-size: 48px;
  }

  #about .divider hr {
    width: 100px;
  }

  #about p {
    font-size: 18px;
  }

  footer h4 {
    font-size: 19px;
  }

  footer span {
    font-size: 14px;
  }

  footer .bg-copyright .content {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

@media all and (min-width: 992px) {
  .container {
      max-width: 960px;
  }

  .divider hr {
    width: 220px;
  }

  #about .divider hr {
    width: 130px;
  }

  footer .bg-copyright .content {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
